# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# KSP / KMP generated
**/build/generated/
.kotlin/

# Local config
local.properties
.kotlin/
